# Data Manipulation and Analysis
pandas
numpy
matplotlib

# Machine Learning and Data Science
# scikit-learn\
# tensorflow

# Web Development
#flask
#django

# Natural Language Processing
# nltk
# spacy

# Databases
psycopg2

# Testing
pytest
#coverage
#mock

# Tools
PyPDF2
dotenv