<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Guessing Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container text-center mt-5">
        <h1>Number Guessing Game</h1>
        <p>Guess a number between 1 and 100!</p>
        <div>
            <input type="number" id="guessInput" min="1" max="100" class="form-control" style="width: 200px; margin: 0 auto;">
            <button class="btn btn-primary mt-3" onclick="checkGuess()">Submit Guess</button>
        </div>
        <div id="result" class="mt-3"></div>
        <hr>
        <a href="/" class="btn btn-secondary">Back to Home</a>
    </div>

    <script>
        let randomNumber = <%= randomNumber %>;

        function checkGuess() {
            const userGuess = parseInt(document.getElementById('guessInput').value);
            const altGuess = 420
            let message = "";

            if (userGuess < 1 || userGuess > 1000) {
                message = "Please guess a number between 1 and 100.";
            } else if (userGuess === randomNumber) {
                message = "Congratulations! You guessed it right!";
            } else if (userGuess === altGuess) {
                message = `Wack, you hella gave up. The correct number was ${randomNumber}`;
            } else if (userGuess < randomNumber) {
                message = "Too low! Try again.";
            } else {
                message = "Too high! Try again.";
            }

            document.getElementById('result').innerText = message;
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('guessInput').addEventListener('keypress', function(event) {
                if (event.key === 'Enter') {
                    checkGuess();
                }
            });
        });
    </script>
</body>

</html>
